<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>Admin</title>
    <link rel="stylesheet" href="../resource/bootstrap/css/bootstrap.min.css">

</head>

<body>

<div class="container ">
    <nav class="navbar navbar-inverse navbar-fixed-top " role="navigation">
        <div class="container-fluid">
            <div class="navbar-header ">
                <a href="#" class="navbar-brand center-block ">Welcome</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav" id="mytab">
                    <li ><a href="Welcom.php">Home</a></li>
                    <li><a href="login.php">Student</a></li>
                    <li class="active"><a href="#">Admin</a></li>
                </ul>
                <form class="navbar-form navbar-right" role="search" action="../Login/teacherLogin.php" method="post">
                    <div class="form-group">
                        <label for="teachname" hidden >teachname</label>
                        <input type="text" id="teachname" placeholder="Enter email" class="form-control" name="teachname"/>
                        <label for="password" hidden >password</label>
                        <input type="password" id="password" placeholder="Enter password" class="form-control" name="teachpwd" />
                        <input type="submit" name="go" value="登录" class="form-control" />
                    </div>
                </form>
            </div>


        </div>
    </nav>
</div>


<script src="/resource/js/jquery.min.js"></script>
<script src="/resource/bootstrap/js/bootstrap.min.js"></script>
<script>
    $("#mytab a").click(function (e) {
        $(this).tab("show");
    })

</script>

</body>
</html>