<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>REGISTER</title>
    <script src="/resource/js/jquery.min.js"></script>
    <script src="/resource/bootstrap/js/bootstrap.min.js"></script>
    <link href="../resource/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">
                用户注册基本信息
            </h3>
            <div class="row" >
                <div class="col-md-6">
                    <div class="col-md-offset-6">
                        email<input type="text" /> <span class="help-block">这里填写帮助信息.</span>
                        表签名<input type="text" /> <span class="help-block">这里填写帮助信息.</span>
                    </div>
                </div>

                <div class="col-md-6">
                            表签名<input type="text" /> <span class="help-block">这里填写帮助信息.</span>
                            表签名<input type="text" /> <span class="help-block">这里填写帮助信息.</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3">
                            地址<input type="text" /> <span class="help-block">这里填写帮助信息.</span>
                            <label>表签名</label><input type="text" /> <span class="help-block">这里填写帮助信息.</span>
                            <label>表签名</label><input type="text" /> <span class="help-block">这里填写帮助信息.</span>
                            <label>表签名</label><input type="text" /> <span class="help-block">这里填写帮助信息.</span>
                            <button class="btn btn-large btn-success" type="submit">按钮</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>